<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cpppro">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CppPro">
        <activity
            android:name=".Strings"
            android:exported="false" />
        <activity
            android:name=".Arrayz"
            android:exported="false"
            android:label="Arrays" />
        <activity
            android:name=".Conditional"
            android:exported="false"
            android:label="Conditional" />
        <activity
            android:name=".LoopQuizis"
            android:exported="false"
            android:label="Loops" />
        <activity
            android:name=".ResultScreen"
            android:exported="false"
            android:label="Result" />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
            android:label="Basics" />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
            android:label="INDEX" />
        <activity
            android:name=".forgetActivity"
            android:exported="false"
            android:label="Recovery" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:label="LOGIN" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="REGISTER" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>